.categories-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: #f2f2f2;
    display: block;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color .3s;
}

.location-categories{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.room{
    /* width: 150px;
    height: 150px; */
    border-radius: 15px;
    background-color: #f2f2f2;
}