.alert{
    background-color: antiquewhite;
    color: rgba(0, 0, 0, 0.814);
}
.alert-1{
    padding-left: 1rem;
}

.header-container{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffc681;
    height: 5rem;
    justify-content: space-between;
}

.components{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}

.profile-avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 1rem;

}

.categories{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
}

.categories:hover{
    cursor: pointer;
}

.drop-down-list{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.categories:hover .drop-down-list{
    display: block;
}

.component:hover .drop-down-list-2{
    display: block;
}


.room{
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    /* text-align: center; */
    /* border-radius: 5px; */
    /* background-color: #ffc681; */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
}

.drop-down-list-2{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.departments{
    padding: 10px;
    margin-top: 15rem;
    position: relative;
    display: inline-block;
}


.component{
    display: flex;
    flex: 1;
    width: 6rem;
    border-radius: 5px;
    align-items: center;
}

.component:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  .header_input {
    height: 12px;
    padding: 10px;
    border: none;
    width: 50%;
  } 
  .search_icon {
    padding: 5px;
    height: 22px !important;
  }  

.shopping-basket{
    margin-right: 30px;
}  

.profile-tag{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
}

.profile-overlay-container{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-tag:hover .profile-overlay-container{
    display: block;
}

.settings{
    display: flex;
    margin-bottom: 7px;
}

.settings:hover{
    cursor: pointer;
}

.logout:hover{
    cursor: pointer;
}

.saved:hover{
    cursor: pointer;
}

.logout{
    display: flex;
    margin-bottom: 7px;

}

.saved{
    display: flex;
}

login-logout{
    display: flex;
}