.cart-container{
  width: 95%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 0 2px 5px #ccc;
  padding: 2rem;
}

.cart-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.item-image{
  width: 240px;
  height: 240px;
  border-radius: 5px;
}
